{% block content %}
    {% include 'votacao/snippets/nav.html' %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/app.css' %}">

    <p>Nome: {{ request.user.username }}</p>
    <p>Email : {{ request.user.email }}</p>
    {% if request.user.aluno %}
    <p>Curso: {{ request.user.aluno.curso }}</p>
    {% endif %}

  {% load static %}


<form method="post" enctype="multipart/form-data" action="{% url 'votacao:detalheAluno' %}">
         {% csrf_token %}
         <input type="file" name="myfile">
         <input type="submit" value="Upload">
</form>

{% if uploaded_file_url %}
  <p>Feito o upload para:
     <a href="{{ uploaded_file_url }}">
        {{ uploaded_file_url }}
     </a>
  </p>
{% endif %}
<p>
   <a class="btn" href="{% url 'votacao:index' %}">
     Voltar ao início
   </a>
</p>

{% endblock %}