{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'votacao/css/mystyle.css' %}">

{% block content %}
<section class="modal">

  <h1>Login</h1>
  {% if messages %}
    <ul class="messages">
      {% for message in messages.error %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form class="login_form" action="{% url 'votacao:login' %}" method="post">
    {% csrf_token %}
    <p>
      <label class="lbl1" for="nome">Username:</label>
       <input type="text" id="nome" name="nome" placeholder="char"/> <br/>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="******"/>
    </p>
    <input class="btn" type="submit" value="Login" />
    <button class="btn" onclick="window.location.href='{% url 'votacao:criarAluno' %}'" type="button"> Criar conta </button>

  </form>
  <br/>

</section>
{% endblock %}
