


.iscte{
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2{
  position: relative;
    justify-content: center;
  align-items: center;
}
.h1{
    transform: translate(-50%, -50%);
  z-index: 2;
}
.profile{
      display: block;
z-index: 1;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList{
    list-style-type:none ;
}

.navList li{
    margin-bottom: 45px;
}

.navList a{
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 0px #2980b9;
  transition: box-shadow 0.3s ease;
}

.btn {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 0px #2980b9;
  transition: box-shadow 0.3s ease;
}
